::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

#editor,
#output,
#title {
    border: 1px solid silver;
    box-shadow: inset 0 0 3px silver;
    border-radius: 5px;
}

#editor,
#output {
    overflow: auto;
    resize: vertical;
    min-height: 400px;
    max-height: 550px;
    padding: 1em;
}

#language-html {
    padding: 0px;
    word-wrap: normal;
    overflow-wrap: anywhere;
}

#title {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#dtitle {
    padding-top: 5px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    width: 50%
}

#editControls {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.input-element {
    font: 12pt Sans serif;
}

.tmp-element {
    visibility: hidden;
    white-space: pre;
}

pre {
    margin: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    color: black;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    width: 1em;
}